@page
@model ProfessorModel
@{
    ViewData["Title"] = "Professor";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo Professor.</h1>
    <p>Pagina do professor...</p>
</div>


<div class="text-center">
    <h1 class="display-4">Cadastro da turma:</h1>
    <p>Turma: </p>
</div>



<div class="text-center">
    <h1 class="display-2">Tumas:</h1>
    <p>Turma: </p>
</div>
