@page
@model IndexModel
@{
    ViewData["Title"] = "GameFica Educação";
}
<div class="text-center">
    <h1 class="display-4">Missão</h1>
    <p>
        Combater a evasão nas escolas tornando a sala de aula mais divertida

        Um dos fatores que mais contribuem com a evasão escolar é o deficit de aprendizagem e baixa flexibilidade para acompanhar as aulas, 
        além do desinteresse e falta de motivação, quando os estudantes não veem relevância ou significado na educação que estão recebendo.
    </p>
</div>


<div class="text-center">
    <h1 class="display-4">O Problema</h1>
    <p>
        Um estudo inédito, realizado pelo Ipec para o UNICEF, revela que 2 milhões de meninas e meninos de 11 a 19 anos que ainda não haviam terminado a educação básica deixaram a escola no Brasil. Eles representam 11% do total da amostra pesquisada.

        Cerca de 737 mil jovens entre 15 e 17 anos estavam fora da escola em 2018. / Necessidade de trabalhar, desinteresse e gravidez são os principais motivos que levam jovens brasileiros a abandonarem os estudos. Dos quase 50 milhões de jovens de 14 a 29 anos do País, aproximadamente 20,2% não completaram alguma das etapas da educação básica.

        Dados
        Educação brasileira em 2022 – a voz de adolescentes Pesquisa realizada pelo Ipec para o UNICEF
        Censo Agro 2017 - IBGE
    </p>
</div>