@page
@model IndexModel
@{
    ViewData["Title"] = "GameFica Educação";
}
<div class="text-center">
    <h1 class="display-4">Uma forma divertida de aprender</h1>
    <p>
        Transforme a sala de aula em um ambiente colaborativo e contribua na diminuição da evasão escolar
    </p>
    <button type="button" onclick="Evento()">Cadastrar</button>
</div>


